*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
.navigation-bar{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(232, 234, 236);
    color: black;
}
nav{
    background: #fff;
    width: 100%;
    height: 80px;
    padding: 2px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;/*
    overflow: hidden;*/
    top: 0;
    left: 250px;
    z-index: 2;
}
nav ul{
    width: 100%;
    text-align: left;
    /*height sets the nav button height position
    height: 18%;*/
}
nav ul li{
    display: inline-block;
    list-style: none;
    /*margin sets spacing between buttons*/
    margin: 10px -1px;
    list-style: none;/*
    border-radius: 10px 10px 0 0;*/
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px 12px;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20x;
    float: left;
    display: block;
    text-align: center;

}

/* this section is side menu*/
.sidebar-menu{
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    
}
.side-nav{
    width: 250px;
    height: 100%;
    background: rgb(32, 133, 210);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.logo{
    display: block;
    margin-bottom: 50px;
}
.logo .logo-img{
    width: 200px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 5px;
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links li{
    padding: 10px 0;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size: 18px;
    margin-right: 20px;
}
.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(255, 255, 255, 0.4);
    display: none;
    transition: 0.5s;
}
.nav-links li:hover a{
    color: rgb(32, 133, 210);
    transition: 0.2s;
}
.nav-links li:hover ~ .active{
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
    top: 2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 19.2%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top: 35.8%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top: 52.4%;
}
.nav-links li:nth-child(5):hover ~ .active{
    top: 69%;
}
.nav-links li:nth-child(6):hover ~ .active{
    top: 85.6%;
}
.logo-icon{
    display: none;
    width: 50px;
    padding-right: 5px;
}
@media only screen and (max-width: 600px){
    nav{
        left: 110px;
    }
    .side-nav{
        width: 110px;
    }
    .logo-icon{
        display: block;
        border-style: solid;
        border-color: #fff;
        border-width: 1px;
        border-radius: 10px;
    }
    .logo-img{
        display: none;
    }
    .nav-links li a p{
        display: none;
    }
    .nav-links li a i{
        font-size: 25px;
        margin-right: 0;
    }
    .nav-links li a{
        justify-content: center;
    }
}
